@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --text: rgb(231, 226, 243);
  --bc: rgb(0, 0, 0);
  --main: rgb(64, 46, 112);
  --sec: rgb(12, 9, 22);
  --acc: rgb(94, 68, 167);
  --gre: rgb(21, 20, 21);
  --d-gre: rgb(11, 11, 10);
}

html {
  height: 100%;
  width: 100%;
}
/* Global */

body {
  width: 100%;
  height: 100%;
  background-color: var(--bc);
  color: var(--text);
  font-family: 'Inconsolata', monospace;
}

.navi{
  height: "4.5rem";
  background: linear-gradient(231deg, rgba(88,51,194,1) 0%, rgba(31,24,50,1) 100%);
}

.logo {
  width: 100px;
}

.log-a {
  background-color: var(--d-gre);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
}

.log-a .vstack {
  margin: 40px;
  display: flex;
  justify-content: center;
  max-height: fit-content;
  
}

.log-b {
  max-height: 20%;
  background: linear-gradient(25deg, rgba(21,20,21,1) 0%, rgba(64,46,112,1) 100%);
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.log-b img {
  height: 100;
}

.log-b h2 {
  position: relative;
  margin-bottom: -5rem;
  top: -55%; 
  font-size: 4rem;
}

#root{
  height: 100%;
}

.mainheight{
  height: 90%;
}
.page{
  height: 100%;
}

.log-btn {
  text-decoration: none;
  font-size: 1.4em;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--acc);
  color: var(--text);
  transition: ease-out 50ms;
  text-align: center;
  min-width: 100px;
}

.log-out {
  background-color: red;
}

.log-btn:hover {
  transform: scale(1.2);
  background-color: var(--main);
  color: var(--sec);
  transition: ease-in 50ms;
}

.logger-btn {
  background-color: var(--sec);
  border: none;
}

.logger-btn:hover {
  background-color: var(--acc);
}
/* reg/log */

form {
  max-height: 75vh;
}
.form-reg-row {
  height: 100%;
  justify-content: center;
}

.form-reg-row h2 {
  text-align: center;
}

.btm-modal {
  background-color: none;
}


/* chat */

.chat-box{
  border-radius: 20px;
  width: auto;
  max-height: 95%;
  max-width: 50%;
}

.chat-header{
  display: flex;
  flex-direction: row;
  background-color: #101010;
  align-items: center;
}

.messages{
  background-color: #050505;
  padding: 0 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.chat-input {
  background-color: #101010;
  padding: 20px;
}

.chat-input form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.message {
  color: black;
  background-color: gainsboro;
  padding: 20px;
  border-radius: 0 20px 20px 20px;
  max-width: 60%;
  width: fit-content;
}


.message.self {
  background-color: aquamarine;
  border-radius: 20px 0 20px 20px;
}

.msg-time {
  color: lightslategrey;
}

.msg-text {
width: 100%;

}


.send-btn {
  padding: 0;
  flex-shrink: 0;
  background-color: var(--acc);
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
}

.send-btn img {
  margin: 12px;
  margin-left: 13px;
}






/* U */

.u-head {
  background-color: var(--acc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.u-head-a {

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.u-head-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
}

.pfp {
  width: 200px;
  border-radius: 20px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: solid 2px var(--text);
  border-radius: 25px;
}
.level p {
  font-size: 2em;
  margin-bottom: 0px;
}

.edit-pro-btn {
  background-color: var(--bc);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  transition: ease-out 100ms;
}

.edit-pro-btn:hover {
  transform: scale(1.1);
  transition: ease-in 100ms;
}

.u-body {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fl {
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  width: 30%;
  background-color: var(--acc);
}

.friend {
  font-size: 2em;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friend img {
  border-radius: 25px;
}